<% provide(:menu, "home") %>

<div ng-app="ordersApp">
	
	<%= render 'customer_current_order' %>

	<%= render 'pending_requests' %>
	
	<%= render 'waiting_requests' %>
	
	<p>Session cookie<%= session[:cookie_store] %></p>
	
</div>