// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-variables.scss";

.category_header {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid $brand-primary;
  font-size: 1.5em;
}

.panel-heading a {
  color: white !important;
}


/* Image */

  .image {
    display: inline-block;
  }

    .image img, .image.fit {
      display: block;
      width: 100%;
    }

    .image.featured {
      display: block;
      width: 100%;
      margin: 0 0 2em 0;
    }

    .image.left {
      float: left;
      margin: 0 2.5em 2em 0;
    }

      .image.left img {
        position: relative;
        top: 0.35em;
      }

    .image.centered {
      display: block;
      margin: 0 0 2em 0;
    }

      .image.centered img {
        margin: 0 auto;
        width: auto;
      }
      
/* Highlight */

  .highlight {
    position: relative;
  }

    .highlight a {
      display: block;
      text-decoration: none;
      color: #fff;
    }

    .highlight .image {
      margin: 0;
    }

    .highlight header {
      -moz-transition: background-color 0.25s ease-in-out;
      -webkit-transition: background-color 0.25s ease-in-out;
      -ms-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
      background: $brand-primary url("../images/bg01.png") no-repeat right top;
      background-size: 100% 100%;
      padding: 2.25em 100px 2.25em 2em;
      position: relative;
    }

      .highlight header:before {
        display: inline-block;
        font-family: FontAwesome;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f055';
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -32px;
        font-size: 54px;
      }

      .highlight header h2 {
        font-size: 2em;
        letter-spacing: -1px;
        margin: 0;
        color: inherit;
      }

      .highlight header p {
        font-weight: 300;
        letter-spacing: 0;
        opacity: 0.65;
        color: inherit;
        margin: 0.25em 0 0 0;
        font-size: 1.25em;
        line-height: 1.5em;
      }

    .highlight a:hover header {
      background-color: $link-hover-color;
    }

    .highlight a:active header {
      background-color: $link-active-color;
    }

